# ==== cfg files ====
[include macros/macro_cfg_files.cfg]
[include options/options_cfg_files.cfg]
[include misc/misc_cfg_files.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_3D0018000851323235363233-if00
restart_method: command

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_3033393834069F92-if00
restart_method: command

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 700
max_accel: 40000
minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 6.0

[gcode_arcs]
resolution: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600

[pause_resume]

[exclude_object]

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
shaper_type_x = mzv
shaper_freq_x = 35
shaper_type_y = mzv
shaper_freq_y = 35

[save_variables]
filename = ~/printer_data/config/options/variables/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.3730448687492782,
#*# 	  1.7194124309628773,
#*# 	  0.814200924297404,
#*# 	  0.21507105361551723,
#*# 	  0.2767944289133717,
#*# 	  1.120089432866164,
#*# 	  0.10129309160419296,
#*# 	  -1.2359189786574234,
#*# 	  0.03220563579535981,
#*# 	  0.5828502296217773
#*# model_domain = 1.736749501712336e-07,1.9170102584608913e-07
#*# model_range = 0.199375,4.999375
#*# model_temp = 23.455338
#*# model_offset = 0.00000
